[submodule "ops/cd"]
	path = ops/cd
	url = https://github.com/caseycurry/LucaContinuousDelivery
[submodule "ops/environment"]
	path = ops/environment
	url = https://github.com/caseycurry/LucaOpsEnvironment
[submodule "ops/docs"]
	path = ops/docs
	url = https://github.com/caseycurry/LucaOpsDocs
