[submodule "ops/cd"]
	path = ops/cd
	url = https://github.com/caseycurry/LucaContinuousDelivery
[submodule "ops/environment"]
	path = ops/environment
	url = https://github.com/caseycurry/LucaOpsEnvironment
[submodule "ops/docs"]
	path = ops/docs
	url = https://github.com/caseycurry/LucaOpsDocs
[submodule "dev/application"]
	path = dev/application
	url = https://github.com/caseycurry/LucaApplication
[submodule "dev/services/bad-purchases/api"]
	path = dev/services/bad-purchases/api
	url = https://github.com/caseycurry/LucaBadPurchasesApi
[submodule "dev/services/categories/api"]
	path = dev/services/categories/api
	url = https://github.com/caseycurry/LucaCategoriesApi
[submodule "dev/services/checking-account/api"]
	path = dev/services/checking-account/api
	url = https://github.com/caseycurry/LucaCheckingAccountApi
[submodule "dev/services/checking-account/client"]
	path = dev/services/checking-account/client
	url = https://github.com/caseycurry/LucaCheckingAccountClient
[submodule "dev/services/dashboard/client"]
	path = dev/services/dashboard/client
	url = https://github.com/caseycurry/LucaDashboardClient
[submodule "dev/services/investments/metals/api"]
	path = dev/services/investments/metals/api
	url = https://github.com/caseycurry/LucaMetalsApi
[submodule "dev/services/investments/retirement/api"]
	path = dev/services/investments/retirement/api
	url = https://github.com/caseycurry/LucaRetirementApi
[submodule "dev/services/users/api"]
	path = dev/services/users/api
	url = https://github.com/caseycurry/LucaUsersApi
[submodule "dev/services/users/client"]
	path = dev/services/users/client
	url = https://github.com/caseycurry/LucaUsersClient
[submodule "dev/libraries/luca-couchdb-synchronizer"]
	path = dev/libraries/luca-couchdb-synchronizer
	url = https://github.com/caseycurry/LucaCouchDbSynchronizer
[submodule "dev/libraries/luca-spec-bootstrapper"]
	path = dev/libraries/luca-spec-bootstrapper
	url = https://github.com/caseycurry/LucaSpecBootstrapper
[submodule "test"]
	path = test
	url = https://github.com/caseycurry/LucaTest
[submodule "ops/dependencies"]
	path = ops/dependencies
	url = https://github.com/caseycurry/LucaOpsDependencies
[submodule "dev/services/bad-purchase/api"]
	path = dev/services/bad-purchase/api
	url = https://github.com/caseycurry/LucaBadPurchasesApi
